In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../data/airline_passengers.csv',index_col='Month',parse_dates=True)

In [3]:
df = df.dropna()

In [4]:
df.index

DatetimeIndex(['1949-01-01', '1949-02-01', '1949-03-01', '1949-04-01',
               '1949-05-01', '1949-06-01', '1949-07-01', '1949-08-01',
               '1949-09-01', '1949-10-01',
               ...
               '1960-03-01', '1960-04-01', '1960-05-01', '1960-06-01',
               '1960-07-01', '1960-08-01', '1960-09-01', '1960-10-01',
               '1960-11-01', '1960-12-01'],
              dtype='datetime64[ns]', name='Month', length=144, freq=None)

In [5]:
# frequency is not set by default on datetime index
df.index.freq = 'MS' #month start

In [6]:
df.head()

            Thousands of Passengers
Month
1949-01-01                      112
1949-02-01                      118
1949-03-01                      132
1949-04-01                      129
1949-05-01                      121

In [7]:
from statsmodels.tsa.holtwinters import SimpleExpSmoothing

In [8]:
# typical value parameters for HW
span = 12
alpha = 2/(span+1)

In [11]:
df['EWMA12'] = df['Thousands of Passengers'].ewm(alpha=alpha,adjust=False).mean()

In [12]:
df.head()

            Thousands of Passengers      EWMA12
Month
1949-01-01                      112  112.000000
1949-02-01                      118  112.923077
1949-03-01                      132  115.857988
1949-04-01                      129  117.879836
1949-05-01                      121  118.359861

In [13]:
#another approach with statsmodel SimpleExpSmoothing
model = SimpleExpSmoothing(df['Thousands of Passengers'])

In [15]:
fitted_model = model.fit(smoothing_level=alpha,optimized=False)

In [20]:
df['SES12']=fitted_model.fittedvalues.shift(-1)

In [21]:
df.head()

            Thousands of Passengers      EWMA12       SES12
Month
1949-01-01                      112  112.000000  112.000000
1949-02-01                      118  112.923077  112.923077
1949-03-01                      132  115.857988  115.857988
1949-04-01                      129  117.879836  117.879836
1949-05-01                      121  118.359861  118.359861

In [22]:
#in one line
result = SimpleExpSmoothing(df['Thousands of Passengers']).fit(smoothing_level=alpha,optimized=False).fittedvalues.shift(-1)

In [23]:
result

Month
1949-01-01    112.000000
1949-02-01    112.923077
1949-03-01    115.857988
1949-04-01    117.879836
1949-05-01    118.359861
                 ...
1960-08-01    494.898619
1960-09-01    496.914216
1960-10-01    491.388952
1960-11-01    475.790652
1960-12-01           NaN
Freq: MS, Length: 144, dtype: float64